.profile-card{
    /* position: relative; */
    width: 25vw;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin: 30vh auto;


}
.picture{
    border-radius: 20px;
}
.profile-card{
    position: relative;
}
.background{
    border-radius: 20px 20px 0 0;
}

.user{
    position: absolute;
    bottom: 40%;
    left: 33%;
    border-radius: 50%;
    border: 5px solid white;
    
}
.about{
    padding-top: 20%;
    text-align: center;
}
.position{
    color: gray;
}